* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background: #fafafa;
  color: #111517;
  height: 100vh;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  border-bottom: 1px solid #c4c4c4;
  -webkit-box-shadow: 0px 0px 25px -2px #e2e0e0;
          box-shadow: 0px 0px 25px -2px #e2e0e0;
}

.nav-header h1 {
  font-size: 1.2em;
}

.nav-header .nav-mode {
  cursor: pointer;
  font-size: 0.8em;
}

#main {
  position: relative;
}

#main .section-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 .5rem;
  margin-bottom: 1rem;
}

#main .section-search .input-box {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 0px 0px 25px -2px #e2e0e0;
          box-shadow: 0px 0px 25px -2px #e2e0e0;
  border-radius: 10px;
}

#main .section-search .input-box .search-input {
  border: none;
  width: 90%;
  background: transparent;
}

#main .section-search .input-box .search-input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

#main .section-search .select-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .section-search .select-country .select-country-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
}

#main .section-search .select-country .select-country-div .label-primary {
  font-size: .8em;
  margin-bottom: 1rem;
}

#main .section-search .select-country .select-country-div .filter-country,
#main .section-search .select-country .select-country-div .display-number-country {
  color: #000;
  padding: 1rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 25px -2px #e2e0e0;
          box-shadow: 0px 0px 25px -2px #e2e0e0;
  background: transparent;
}

#main .section-search .select-country .select-country-div .filter-country option,
#main .section-search .select-country .select-country-div .display-number-country option {
  background-color: #fff;
  color: #000;
}

#main .section-search .select-country .select-country-div .filter-country:hover,
#main .section-search .select-country .select-country-div .display-number-country:hover {
  cursor: pointer;
}

#main .section-search .select-country .select-country-div .filter-country:focus,
#main .section-search .select-country .select-country-div .display-number-country:focus {
  outline: none;
}

#main .country-section {
  display: -ms-grid;
  display: grid;
  grid-column: center;
  -ms-grid-columns: (minmax(330px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

#main .country-section .country-element {
  margin: 2rem;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px -2px #e2e0e0;
          box-shadow: 0px 0px 25px -2px #e2e0e0;
}

#main .country-section .country-element .img-container {
  height: 200px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #c4c4c4;
}

#main .country-section .country-element .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

#main .country-section .country-element .content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2rem 1.2rem 4rem 1.2rem;
}

#main .country-section .country-element .content-section .names {
  margin: 1rem 0;
  font-size: 1.2em;
  font-weight: 800;
}

#main .country-section .country-element .content-section p {
  margin-bottom: .5rem;
}

#main .country-section .country-element .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .country-section .country-element .btn-container .country-btn {
  color: #000;
  border: 1px solid gray;
  border-radius: 5px;
  background: transparent;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#main .country-section .country-element .btn-container .country-btn:hover {
  color: #fff;
  background-color: #2b3945;
}

#main .country-section .country-element:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.country-specific-info {
  display: none;
  padding: 2rem 1.5rem;
}

.country-specific-info .back-btn {
  color: #000;
  margin: 0 0 3rem 0;
  border: none;
  border-radius: 5px;
  padding: .8rem 2rem;
  background: transparent;
  -webkit-box-shadow: 0px 0px 7px 3px #a1a1a1;
          box-shadow: 0px 0px 7px 3px #a1a1a1;
  cursor: pointer;
}

.country-specific-info .back-btn:hover {
  background-color: #2b3945;
  color: #fff;
}

.country-specific-info .content-container .flag-container {
  min-height: 200px;
}

.country-specific-info .content-container .flag-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.country-specific-info .content-container .info-content h1 {
  font-size: 1.5em;
  margin: 2rem 0 1.5rem;
}

.country-specific-info .content-container .info-content .article-container {
  font-size: .9em;
}

.country-specific-info .content-container .info-content .article-container .info-description {
  margin-bottom: 2.5rem;
}

.country-specific-info .content-container .info-content .article-container .info-description p {
  margin-bottom: .8rem;
}

.country-specific-info .content-container .border-container {
  font-size: .9em;
}

.country-specific-info .content-container .border-container h1 {
  margin-bottom: 1rem;
}

.dark-mode {
  background: #202c37;
  color: #fff;
}

.dark-mode .nav-header {
  -webkit-box-shadow: 0px 0px 25px -5px #2b3945;
          box-shadow: 0px 0px 25px -5px #2b3945;
  border: none;
}

.dark-mode #main .section-search .input-box {
  border: none;
  -webkit-box-shadow: 0px 0px 25px -5px #2b3945;
          box-shadow: 0px 0px 25px -5px #2b3945;
  background: #2b3945;
}

.dark-mode #main .section-search .input-box .search-input {
  color: #fff;
}

.dark-mode #main .section-search .input-box .search-input:focus {
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.dark-mode #main .section-search .select-country .select-country-div .filter-country,
.dark-mode #main .section-search .select-country .select-country-div .display-number-country {
  color: #fff;
  border: 1px solid #2b3945;
  padding: 1rem;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 0px 0px 25px -5px #2b3945;
          box-shadow: 0px 0px 25px -5px #2b3945;
  background: transparent;
}

.dark-mode #main .country-section .country-element {
  -webkit-box-shadow: 0px 0px 25px -5px #2b3945;
          box-shadow: 0px 0px 25px -5px #2b3945;
  background: #2b3945;
  border: none;
}

.dark-mode #main .country-section .country-element .img-container {
  border: none;
}

.dark-mode #main .country-section .country-element .btn-container .country-btn {
  border: 1px solid #fff;
  color: #fff;
}

.dark-mode #main .country-section .country-element .btn-container .country-btn:hover {
  background-color: #fff;
  color: #2b3945;
}

.dark-mode .country-specific-info .back-btn {
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #2b3945;
}

.dark-mode .country-specific-info .back-btn:hover {
  background-color: #fff;
  color: #2b3945;
}

.lds-ring {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 200px;
  width: 100%;
  margin-top: 2rem;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 780px) {
  .nav-header h1 {
    font-size: 2em;
  }
  .nav-header .nav-mode {
    font-size: 1em;
  }
  #main .section-search .select-country .select-country-div {
    width: 25%;
  }
  #main .section-search .select-country .select-country-div .label-primary {
    font-size: .9em;
  }
  .country-specific-info .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .country-specific-info .content-container .flag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin-right: 2rem;
  }
  .country-specific-info .content-container .flag-container img {
    width: 90%;
  }
  .country-specific-info .content-container .info-content {
    width: 50%;
  }
  .country-specific-info .content-container .info-content .article-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  #main .section-search .input-box .search-input {
    font-size: 1.1em;
  }
  #main .section-search .select-country .select-country-div {
    width: 15%;
  }
  #main .section-search .select-country .select-country-div .label-primary {
    font-size: 1em;
  }
  .country-specific-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .country-specific-info .content-container .flag-container img {
    width: 70%;
  }
  .country-specific-info .content-container .info-content {
    margin: 0 5rem 0 2rem;
  }
  .country-specific-info .content-container .info-content h1 {
    font-size: 2.3em;
  }
  .country-specific-info .content-container .info-content .article-container {
    font-size: 1.2em;
  }
  .country-specific-info .back-btn {
    font-size: .9em;
    padding: 1rem 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */